*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg,#0f0f0f,#1f1f1f);
}

.login-box{
  width:350px;
  padding:40px;
  background:#161616;
  border-radius:20px;
  box-shadow:0 0 20px rgba(255,0,0,0.4);
  text-align:center;
}

.login-box h1{
  color:red;
  margin-bottom:10px;
  letter-spacing:2px;
}

.subtitle{
  color:#aaa;
  margin-bottom:30px;
}

.login-box input{
  width:100%;
  padding:15px;
  margin:12px 0;
  border:none;
  outline:none;
  border-radius:12px;
  background:#222;
  color:white;
  font-size:16px;
}

.login-box input:focus{
  border:2px solid red;
}

.login-box button{
  width:100%;
  padding:15px;
  margin-top:20px;
  border:none;
  border-radius:12px;
  background:red;
  color:white;
  font-size:18px;
  cursor:pointer;
  transition:0.3s;
}

.login-box button:hover{
  transform:scale(1.05);
  background:#ff2b2b;
}

#error{
  color:#ff4d4d;
  margin-top:15px;
}